In [9]:
import yfinance as yf
import pandas as pd

df = yf.Ticker("MSFT").history(
        period="5d",
        interval="1h")

def calculate_volume_profile(ohlc_df, num_bins=50):
    df = ohlc_df.copy()
    
    df['Price Bin'] = pd.cut(df['Close'], bins=num_bins)
    
    profile = df.groupby('Price Bin').agg({
        'Volume': 'sum',
        'Close': 'mean'
    }).reset_index()
        
    return profile.rename({'Volume': 'Total Volume', 'Close': 'Avg Price'}, axis=1).dropna()

calculate_volume_profile(df)

C:\Users\yello\AppData\Local\Temp\ipykernel_37136\3096369267.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  profile = df.groupby('Price Bin').agg({

             Price Bin  Total Volume   Avg Price
0   (471.843, 472.194]       1265993  471.859985
1   (472.194, 472.529]       1417082  472.524994
2   (472.529, 472.863]       1555439  472.589996
3   (472.863, 473.198]       4457386  473.041504
6   (473.866, 474.201]       1749730  473.885010
10  (475.204, 475.538]       3773820  475.364990
34   (483.23, 483.564]        753120  483.500000
35  (483.564, 483.898]       1251465  483.649994
39  (484.902, 485.236]       1257297  485.018005
40   (485.236, 485.57]        997432  485.269989
41   (485.57, 485.905]       5638805  485.726703
43  (486.239, 486.574]             0  486.329987
44  (486.574, 486.908]       1916366  486.709991
45  (486.908, 487.242]       3806360  487.130341
46  (487.242, 487.577]       6156019  487.416516
47  (487.577, 487.911]       1408717  487.794998
48  (487.911, 488.246]       1855402  488.074992
49   (488.246, 488.58]       1644873  488.564941